{%extends "base.html" %}
{% block title %} 
Library Loan System - Login 
{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<!-- This is to specify the client ID i have created for this website's sign in google API'-->
<meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
<!-- Login page where customers and staff input their email and password -->
<div class="d-flex align-content-center justify-content-center" style="background-color: #FBF8F2; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #DDD5C2;">
    <div class="card my-5 shadow" style="width:500px;">
        <h3 class="card-title card-header bg-custom navbar-dark mb-3 text-center" style="background-color: #BDB5A0; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: floralwhite;">
            Login
        </h3>
        <div class="card-body">
            <!--Form for users to create an account-->
            <form method="post" action="~/Home/Login" style="background-color: white;" class='loginForm'>
                <div class="form-group">
                    {{ render_field(form.email, class="form-control") }}
                </div>
                <br />
                <div class="form-group">
                    {{ render_field(form.password, class="form-control") }}
                </div><br />
                <input type="submit" value="login" class="submitBtn btn-primary" 
                       style="border-color:#F5BA76; text-align:right; align-items:flex-end; display: flex; background-color: #F5BA76; color: floralwhite;" />
            </form>
            <p style="font-size:12px; text-align:left; display:inline;">
                Forgot your password? Click <a href="/ForgetPassword" style="color:#F5BA76;">here</a><br />
                Not a member? Click <a href="/Signup" style="color:#F5BA76;">here</a> to sign up
            </p>
            <b style="text-align:center;">or</b>
            <!--google API that allows customers to sign in with google-->
            <div style="align-content:center; align-items:center;" class="g-signin2" data-onsuccess="onSignIn" ></div>
            </div>
        </div>
</div>
{% endblock %}

