{% extends "base_customer.html" %}
{% block title %}
Library Loan System - HomeDen
{% endblock %}

 {% block content %}

<div>
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
			<ul class=flashes>
			{% for message in messages %}
			  <li>{{ message }}</li>
			{% endfor %}
			</ul>
		  {% endif %}
		{% endwith %}
	</div>

	<div id="shopping-cart">
		<h1><div class="txt-heading">Cart</div></h1>
		{% if 'cart_item' in session %}
			<a id="btnEmpty" href="{{ url_for('.empty_cart') }}">Empty Cart</a>
		<table class="tbl-cart" cellpadding="10" cellspacing="1">
			<tbody>
				<tr>
					<th style="text-align:left;">Name</th>
					<th style="text-align:right;" width="5%">Quantity</th>
					<th style="text-align:right;" width="10%">Price</th>
				</tr>
				{% for key, val in session['cart_item'].items() %}
					{% set quantity = session['cart_item'][key]['quantity'] %}
					{% set price = session['cart_item'][key]['price'] %}
					{% set item_price = session['cart_item'][key]['total_price'] %}
					<tr>
<!--						<td><img src="/static/images/{{ session['cart_item'][key]['image'] }}" class="cart-item-image" />{{ session['cart_item'][key]['name'] }}</td>-->
						<td>{{ session['cart_item'][key]['name'] }}</td>
						<td style="text-align:right;">{{ quantity }}</td>
						<td  style="text-align:right;"> {{ item_price }}</td>
						<td style="text-align:center;">
						<a href="{{ url_for('.delete_product', code=session['cart_item'][key]['code']) }}" class="btnRemoveAction">
							<input type="submit" value="REMOVE"/>
							</a>
						</td>
					</tr>
				{% endfor %}
				<tr>
					<td colspan="2" align="right">Total:</td>
					<td align="right" colspan="2" ><bold> {{ session['all_total_price'] }}</bold></td>
					<td></td>
				</tr>
			</tbody>
			</table>
				<button class = "btn-voucher" type = "button">VOUCHERS</button>
				<button id="myBtn" class = "btn-checkout" type = "button" ><a href ="/ShoppingCart/PaymentCreditCard">CHECKOUT</a></button>
		{% else: %}
			<div class="no-records">Your Cart is Empty</div>
		{% endif %}
	</div>

	<div id="product-grid">
		<div class="txt-heading">Products</div>
		<table>
		{% for i in to_send %}
			<tr>
				<td>
			<div class="product-item" >
				<form method="post" action="/ShoppingCart/add">
					<div class="product-tile-footer">


							<div class="product-title">{{i[1]}}</div>
						<div class="product-price"> {{i[2]}}</div>
						<div class="cart-action">
							<input type="text" class="product-quantity" name="quantity" value="1" size="2" />
							<input type="hidden" name="code" value="{{i.ProductID}}"/>
							<input type="submit" value="Add to Cart" class="btnAddAction" />
						</div>

					</div>
				</form>
			</div>
				</td>
		</tr>
				<td>
			<div class="product-item" >
				<form method="post" action="/ShoppingCart/add">
					<div class="product-tile-footer">


							<div class="product-title">{{i[1]}}</div>
						<div class="product-price"> {{i[2]}}</div>
						<div class="cart-action">
							<input type="text" class="product-quantity" name="quantity" value="1" size="2" />
							<input type="hidden" name="code" value="{{i.ProductID}}"/>
							<input type="submit" value="Add to Cart" class="btnAddAction" />
						</div>

					</div>
				</form>
			</div>
				</td>



	{% endfor %}
		</table>
	</div>
	{% endblock %}
