@font-face {
  font-family: "Creepy";
  src: url("Assets/Creepy.woff") format("woff"), url("Assets/Creepy.woff2") format("woff2")
}

@font-face {
  font-family: "Lunacy";
  src: url("Assets/Lunacy.woff") format("woff"), url("Assets/Lunacy.woff2") format("woff2")
}

* {
  box-sizing:border-box;
}

html {
  min-height: 100vh;
}

body {
  margin:0;
  background: radial-gradient(#0F0E2D,#000000);
}

.caution{
  font-family:Creepy,serif;
  font-weight: normal;
  text-align:center;
  font-size:2em;
  color:white;
}

h2{
  font-family:Creepy,serif;
  font-weight: normal;
  text-align:center;
  font-size:2em;
  color:white;
}

.game-info-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  margin-bottom: -50px;
}

.game-info {
  font-family:Lunacy,serif;
  color:white;
  font-size: 3em;

}

.game-container{
  display: grid;
  grid-template-columns:repeat(6,auto);
  grid-gap: 60px;
  margin: 50px;
  justify-content: center;

}

.memory-card{
  height:175px;
  width:125px;

}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  padding: 20px;
  height:220px;
  width:170px;
}


.card-back {
  background-color: none;
  margin-bottom:20px;
}

.card-front {
  background-color: white;
}

.ingredient{
  align-self :flex-start;
  transform:translateY(-10px);
  transition: transform 100ms ease-in-out;
  height:220px;
  width:170px;

}

.ingredient2{
  align-self :flex-start;
  transform:translateY(-10px);
  transition: transform 100ms ease-in-out;
  height:220px;
  width:170px;
}

.card-back:hover .front-face{
  transform: translateY(0);
}

.back-face{
  height:175px;
  width:125px;
}

#time-remaining{
  text-align: center;
}
