{%extends navbar %}
{% block title %} Library Loan System - Shop Categories {% endblock %}}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="shopCategories.css"/>
</head>
  <style>
        td{
            padding: 90px;
            padding-top: 130px;
            text-align : center;
        }
            </style>
<body>

    <div class="categories">
        <h3>Categories</h3>
    </div>
    <table>
        <tr>
    <div class="spacing"></div>
    <div class="content">
        <td>
        <div class="grains" id="grains">
                <a href="/Grains"><img src="{{url_for('static', filename='Assets/images/rice_noodles.jpeg')}}" align="'middle" style="width: 300px; height:250px"/></a>
            <div class="grains_txt">
                <br>
                <p>Grains, Cooking Ingredients</p>
        </div>
        </div>
        </td>
        <td>
        <div class="frozen" id="frozen">
            <div class="frozen_img">
                <a href="/Frozen"><img src="{{url_for('static', filename='Assets/images/frozen_products.jpeg')}}" style="width: 300px; height:250px"/></a>
            </div>
            <div class="frozen_txt">
                <br>
                <p>Frozen</p>
            </div>
        </div>
        </td>
        <td>
        <div class="household" id="household">
            <div class="household_img">
                <a href="/Household"><img src="{{url_for('static', filename='Assets/images/household_products.jpeg')}}" style="width: 300px; height:250px"></a>
            </div>
            <div class="household_txt">
                <br>
                <p>Household</p>
            </div>
        </div>
        </td>

    </div>
</div>
        </tr>
        </table>
</body>

{% endblock %}
