{%extends "base.html" %}
{% block title %}
Library Loan System - Reedem Vouchers
{% endblock %}

{% block content %}
<div class="d-flex align-content-center justify-content-center" style="background-color: #FBF8F2; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #DDD5C2;">
    <div class="card my-5 shadow" style="width:500px;">
        <h3 class="card-title card-header bg-custom navbar-dark mb-3 text-center" style="background-color: #BDB5A0; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: floralwhite;">
            Reedem Voucher
        </h3>
        <div class="card-body">

        </div>
    </div>
</div>
{% endblock %}
