{%extends "base_customer.html" %}
{% block title %}
Library Loan System - customerSettings
{% endblock %}

{% block content %}
<div class="customerSettings_sidenav"
     style="height:100%; width:200px; position: relative; z-index:1; top:0; left:0; background-color:#FBF8F2; overflow-x: hidden; padding-top: 20px; color: black; display: inline-block; margin-right: 20px;">
    <img src="user_profilePicture.jpg" style="border-radius:50%; display:inline" /><p>{{session['custName']}}</p>
    <a class="dropdown-item" href="/CustomerSettings">Account</a>
    <a class="dropdown-item" href="#">Purchase</a>
    <a class="dropdown-item" href="/customerVouchers">Vouchers</a>
    <a class="dropdown-item" href="/customerFAQ">FAQ</a>
    <a class="dropdown-item" href="/customerMembership">Membership</a>
    <a class="dropdown-item" href="/logout">Log out</a>
</div>
<div class="mainContent" style="display:inline-block;">
    <h2>Purchase</h2>
    {% for i in custPurchaseList %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Order ID</th>
                    <th>Total Amount</th>
                    <th>Date of Purchase</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{i[0]}}</td>
                    <td>{{i[2]}}</td>
                    <td>{{i[3]}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    {%endfor%}
</div>
{% endblock %}
