{%extends "base_customer.html" %}

{% block content %}
<div class="container-fluid" style="background-color:white; color:black; ">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" style="background-color:#396748;">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-black font-weight-bold min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline" style="color:white">Settings</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu" style="color:white;">
                    <li class="nav-item">
                        <a href="/customerSettings" class="nav-link align-middle px-0" style="color:white;">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Account</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0" style="color:white;">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Purchase History</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/customerVouchers" class="nav-link px-0 align-middle" style="color:white;">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Vouchers</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/customerFAQ" class="nav-link px-0 align-middle" style="color:white;">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline" style="color:white;">FAQ</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/customerMembership" class="nav-link px-0 align-middle" style="color:white;">
                            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Membership</span>
                        </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">user</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-light text-small shadow">
                        <li><a class="dropdown-item" href="/logout">Log out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col py-3">
            <div class="mainContent" style="display:inline-block;">
                <h2>Purchase</h2>
                {% for i in custPurchaseList %}
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>Order ID</th>
                                <th>Total Amount</th>
                                <th>Date of Purchase</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{i[0]}}</td>
                                <td>{{i[2]}}</td>
                                <td>{{i[3]}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
</div>
{% endblock %}
