{%extends "base_s.html" %}
{% block title %}
Library Loan System - staffSettings
{% endblock %}

{% block content %}

<div class="mainContent" style="display: block;">
    <h2>Out Of Stock</h2>
    
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            {% for i in oosList %}
            <thead class="thead-dark">
                <tr>
                    <th>Product ID</th>
                    <th>Category</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Stock Count</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{i[0]}}</td>
                    <td>{{i[1]}}</td>
                    <td>{{i[2]}}</td>
                    <td>{{i[3]}}</td>
                    <td>{{i[4]}}</td>
                    <td>{{i[5]}}</td>
                </tr>
            </tbody>
            {%endfor%}
        </table>
    </div>
</div>
<div class="mainContent" style="display: block;">
    <h2>Top Selling Products</h2>

    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            {% for i in topProductList %}
            <thead class="thead-dark">
                <tr>
                    <th>Product ID</th>
                    <th>Category</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Stock Count</th>
                    <th>Number of Sales</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{i[0]}}</td>
                    <td>{{i[2]}}</td>
                    <td>{{i[1]}}</td>
                    <td>{{i[3]}}</td>
                    <td>{{i[4]}}</td>
                    <td>{{i[5]}}</td>
                    <td>{{i[6]}}</td>
                </tr>
            </tbody>
            {%endfor%}
        </table>
    </div>
</div>

<div class="mainContent" style="display:block;">
    <h2>Top Customer</h2>

    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            {% for i in topCustList %}
            <thead class="thead-dark">
                <tr>
                    <th>Customer ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Contact Number</th>
                    <th>Membership Points</th>
                    <th>Number of Orders</th>
                    <th>Total Spent</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{i[0]}}</td>
                    <td>{{i[1]}}</td>
                    <td>{{i[2]}}</td>
                    <td>{{i[4]}}</td>
                    <td>{{i[3]}}</td>
                    <td>{{i[5]}}</td>
                    <td>{{i[6]}}</td>
                </tr>
            </tbody>
            {%endfor%}
        </table>
    </div>
</div>
{% endblock %}
