{%extends "base_s.html" %}
{% block title %}
Library Loan System - Staff Management
{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='Assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Assets/css/staffmanage.css') }}">
</head>

<section class="home-section">
<div class="home-content">
    <div class="overview-boxes">
        <div class="box">
            <div class="left-side">
                <div class="box_topic">Total Staff</div>
                <div class="number">{{ StaffList | length }}</div>
                <div class="indicator">
                    <i class='bx bx-check-square'></i>
                    <span class="text">Up from yesterday</span>
                </div>
            </div>
            <i class='bx bxs-user-check people'></i>
        </div>
        <div class="box">
            <div class="right-side">
                <div class="box_topic">Manager</div>
                <div class="number">{{ ManagerList | length }}</div>
                <div class="indicator">
                    <i class='bx bx-check-square'></i>
                    <span class="text">Up from yesterday</span>
                </div>
            </div>
            <i class='bx bxs-user-check people two'></i>
        </div>
        <div class="box">
            <div class="right-side">
                <div class="box_topic">Assistants</div>
                <div class="number">{{ AssList | length }}</div>
                <div class="indicator">
                    <i class='bx bx-check-square'></i>
                    <span class="text">Up from yesterday</span>
                </div>
            </div>
            <i class='bx bxs-user-check people four'></i>
        </div>
        <div class="box">
            <div class="right-side">
                <div class="box_topic">Interns</div>
                <div class="number">{{ InternList | length }}</div>
                <div class="indicator">
                    <i class='bx bx-check-square'></i>
                    <span class="text">Up from yesterday</span>
                </div>
            </div>
            <i class='bx bxs-user-check people three'></i>
        </div>
</div>
</div>
<div class="section-title">
        <h2>Staff Management</h2>
    </div>
<!-- customer-content -->
<div class="staff-boxes">
    <div class="staff-details">
        <div class="d-flex align-content-center justify-content-center">
        <ul class="details">
            <li class="topic">Staff ID</li>
            {% for i in StaffList %}
            <li><a href="#">{{i[0]}}</a></li>
            {% endfor %}
        </ul>
        <ul class="details">
            <li class="topic">Name</li>
            {% for i in StaffList %}
            <li><a href ="#">{{i[1]}}</a></li>
            {% endfor %}
        </ul>
        <ul class="details">
            <li class="topic">Email</li>
            {% for i in StaffList %}
            <li><a href="#">{{i[2]}}</a></li>
            {% endfor %}
        </ul>
        <ul class="details">
            <li class="topic">Remarks</li>
            {% for i in StaffList %}
            <li><a href="#">{{i[5]}}</a></li>
            {% endfor %}
        </ul>
        <ul class="details">
            <li class="topic" style="color:#fff;">gfdgfd</li>
            {% for i in StaffList %}
             <li class="update-button"><a href="/updateStaff/{{i[0]}}" class="btn btn-warning" style="padding:5px;font-size:13px;">Update</a></li>
            {% endfor %}
        </ul>
        <ul class="details">
            <li class="topic" style="color:#fff;">gjfgdf</li>
            {% for i in StaffList %}
            <li class="delete-button"><a href="/deleteStaff/{{i[0]}}" class="btn btn-danger" style="padding:5px;font-size:13px;" onclick="return confirm('Are you sure you want to delete {{i[1]}}?');">Delete</a></li>
            {% endfor %}
        </ul>
    </div>
    </div>
</div>


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

</section>
{% endblock %}
