{%extends "base_s.html" %}
{% block title %}
Library Loan System - Staff Management
{% endblock %}

{% block content %}

<div class="container-fluid h-100">
    <div class="row h-100">
            <div class="col-2" id="green">
                    <a class="dropdown-item" href="#">Announcement</a>
                    <a class="dropdown-item" href="#">Create Staff</a>
                    <a class="dropdown-item" href="#">Staff Management</a>
            </div>
        </div>
            <div class="col-10" style="text-align: justify;">
               <div class="mainContent" style="display: block;">
                   <h2>Staff Management</h2>
                   <div class="table-responsive">
                   <table class="table table-striped table-bordered">

                    <thead class="thead-dark">
                        <tr>
                            <th>Staff ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in StaffList %}
                        <tr>
                            <td>{{i[0]}}</td>
                            <td>{{i[1]}}</td>
                            <td>{{i[2]}}</td>
                            <td><a href="/updateStaff/{{i[0]}}" class="btn btn-warning">Update</a>
                                <form action="/deleteStaff/{{i[0]}}" method="POST">

                            <input type="submit" value="Delete" class="btn btn-danger"
                                       onclick="return confirm('Are you sure you want to delete {{i[1]}}?');">
                                </form>
                            </td>
                        </tr>
                    {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
            </div>
</div>

{% endblock %}
