{%extends "base_s.html" %}
{% block title %}
Library Loan System - Staff Management
{% endblock %}

{% block content %}

<div class="container-fluid h-100">
    <div class="section-title">
                   <h2>Staff Management</h2>
               </div>
                   <div class="table-responsive">
                   <table class="table table-striped table-bordered">

                    <thead class="thead-dark">
                        <tr>
                            <th>Staff ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Remarks</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in StaffList %}
                        <tr>
                            <td>{{i[0]}}</td>
                            <td>{{i[1]}}</td>
                            <td>{{i[2]}}</td>
                            <td><a href="/updateStaff/{{i[0]}}" class="btn btn-warning" style="margin:10px;">Update</a>
                            <a href="/deleteStaff/{{i[0]}}" class="btn btn-danger"
                                   onclick="return confirm('Are you sure you want to delete {{i[1]}}?');">Delete</a>
                            </td>
                        </tr>
                    {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}
