{%extends "base_s.html" %}
{% block title %}
Library Loan System - Staff Profile Page
{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<div class:"staffSettings_sidenav"
     style="height:100%; width:200px; position: relative; z-index:1; top:0; left:0; background-color:#FBF8F2; overflow-x: hidden; padding-top: 20px; color: black; display: inline-block; margin-right: 20px;">
     <img src="/" style="border-radius:50%; display:flex;"/><p>{{session['StaffName']}}</p>
        <a class="dropdown-item" href="#">Account</a>
        <a class="dropdown-item" href="/logout">Log out</a>
</div>
<div class="mainContent" style="display:inline-block";>
    <h2>Account</h2><br/>
    <form method="post" action="/StaffSettings" style="background-color:white;" class='StaffParticulars'>
        <!--<input type="submit" value="edit" class="submitBtn btn-primary" name="staffSettingsbtn"
    style="border-color:#F5BA76; text-align:right; align-items:flex-end; display: flex; background-color: #F5BA76; color: floralwhite;" />-->
        <div>
            {% for i in staff_details%}
            <p>Username: {{i[1]}}</p>
            <p>Email: {{i[2]}}</p>
            <p>Password: {{i[3]}}</p>
            <!-- need to hash it -->
            {% endfor %}
        </div>
    </form>
</div>
{% endblock %}


