{%extends "base_s.html" %}
{% block title %}
Library Loan System - Customer Management
{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='Assets/css/custmanage.css') }}">
</head>
<section class="home-section">
<div class="home-content">
    <div class="overview-boxes">
        <div class="box">
            <div class="left-side">
                <div class="box_topic">Total Customers</div>
                <div class="number">{{ custList | length }}</div>
                <div class="indicator">
                    <i class="bx bx-up-arrow-alt"></i>
                    <span class="text">Up from yesterday</span>
                </div>
            </div>
            <i class='bx bxs-user-check people'></i>
        </div>
        <div class="box">
            <div class="right-side">
                <div class="box_topic">Top Membership Points</div>
                {% for i in custList %}
                <div class="number">{{i[0]}}
                </div>
                {%endfor%}
                <div class="indicator">
                    <i class="bx bx-up-arrow-alt"></i>
                    <span class="text">Up from yesterday</span>
                </div>
            </div>
            <i class='bx bxs-user-check people two'></i>
        </div>
        <div class="box">
            <div class="right-side">
                <div class="box_topic">Total Customers</div>
                {% for i in custList %}
                <div class="number">{{i[0]}}
                </div>
                {%endfor%}
                <div class="indicator">
                    <i class="bx bx-up-arrow-alt"></i>
                    <span class="text">Up from yesterday</span>
                </div>
            </div>
            <i class='bx bxs-user-check people three'></i>
        </div>
        <div class="box">
            <div class="right-side">
                <div class="box_topic">Total Customers</div>
                {% for i in custList %}
                <div class="number">{{i[0]}}
                </div>
                {%endfor%}
                <div class="indicator">
                    <i class="bx bx-up-arrow-alt"></i>
                    <span class="text">Up from yesterday</span>
                </div>
            </div>
            <i class='bx bxs-user-check people four'></i>
        </div>
</div>
</div>
<div class="section-title">
        <h2>Customer Management</h2>
    </div>
<!-- customer-content -->
<div class="customer-boxes">
    <div class="total-customer box">
    <div class="customer-details">
        <ul class="details">
            <li class="topic">Cust ID</li>
            {% for i in custList %}
            <li><a href="#">{{i[0]}}</a></li>
            {% endfor %}
        </ul>
        <ul class="details">
            <li class="topic">Name</li>
            {% for i in custList %}
            <li><a href ="#">{{i[1]}}</a></li>
            {% endfor %}
        </ul>
        <ul class="details">
            <li class="topic">Email</li>
            {% for i in custList %}
            <li><a href="#">{{i[3]}}</a></li>
            {% endfor %}
        </ul>
        <ul class="details">
            <li class="topic">Address</li>
            {% for i in custList %}
            <li><a href="#">{{i[7]}}</a></li>
            {% endfor %}
        </ul>
        <ul class="details">
            <li class="topic">Contact</li>
            {% for i in custList %}
            <li><a href="#">{{i[6]}}</a></li>
            {% endfor %}
        </ul>
        <ul class="details">
            <li class="topic">Membership Points</li>
            {% for i in custList %}
            <li><a href="#">{{i[2]}}</a></li>
            {% endfor %}
        </ul>
        <ul class="details">
            <li class="topic">gfdgfd</li>
            {% for i in custList %}
             <li class="update-button"><a href="/updateUser/{{i[0]}}" class="btn btn-warning" style="padding:5px;font-size:13px;">Update</a></li>
            {% endfor %}
        </ul>
        <ul class="details">
            <li class="topic">gjfgdf</li>
            {% for i in custList %}
            <li class="delete-button"><a href="/deleteUser/{{i[0]}}" class="btn btn-danger" style="padding:5px;font-size:13px;" onclick="return confirm('Are you sure you want to delete {{i[1]}}?');">Delete</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="button">
        <a href="#">See All</a>
    </div>
    </div>
</div>
<!--<div class="container-fluid h-100">-->


<!--                   <div class="table-responsive">-->
<!--                   <table>-->

<!--                    <thead class="thead-dark">-->
<!--                        <tr>-->
<!--                            <th>Cust ID</th>-->
<!--                            <th>Name</th>-->
<!--                            <th>Email</th>-->
<!--                            <th>Address</th>-->
<!--                            <th>Contact</th>-->
<!--                            <th>Membership Points</th>-->
<!--                            <th></th>-->
<!--                        </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                    {% for i in custList %}-->
<!--                        <tr>-->
<!--                            <td>{{i[0]}}</td>-->
<!--                            <td>{{i[1]}}</td>-->
<!--                            <td>{{i[3]}}</td>-->
<!--                            <td>{{i[7]}}</td>-->
<!--                            <td>{{i[6]}}</td>-->
<!--                            <td>{{i[2]}}</td>-->
<!--                            <td><a href="/updateUser/{{i[0]}}" class="btn btn-warning" style="margin:10px;">Update</a>-->
<!--                            <a href="/deleteUser/{{i[0]}}" class="btn btn-danger"-->
<!--                                   onclick="return confirm('Are you sure you want to delete {{i[1]}}?');">Delete</a>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                     {%endfor%}-->
<!--                    </tbody>-->

<!--                </table>-->
<!--            </div>-->
<!--        </div>-->
</section>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

{% endblock %}
