{%extends "base_s.html" %}
{% block title %}
Library Loan System - Customer Management
{% endblock %}

{% block content %}

<div class="container-fluid h-100">

               <div class="section-title">
                   <h2>Customer Management</h2>
               </div>
                   <div class="table-responsive">
                   <table class="table table-striped table-bordered">

                    <thead class="thead-dark">
                        <tr>
                            <th>Cust ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Contact</th>
                            <th>Membership Points</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in custList %}
                        <tr>
                            <td>{{i[0]}}</td>
                            <td>{{i[1]}}</td>
                            <td>{{i[3]}}</td>
                            <td>{{i[6]}}</td>
                            <td>{{i[5]}}</td>
                            <td>{{i[2]}}</td>
                            <td><a href="/updateUser/{{i[0]}}" class="btn btn-warning" style="margin:10px;">Update</a>
                            <a href="/deleteUser/{{i[0]}}" class="btn btn-danger"
                                   onclick="return confirm('Are you sure you want to delete {{i[1]}}?');">Delete</a>
                            </td>
                        </tr>
                     {%endfor%}
                    </tbody>

                </table>
            </div>
        </div>
{% endblock %}
