{%extends "base_s.html" %}
{% block title %}
Library Loan System - Staff Profile Page
{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="content-section">
        <img src="images/flour.jpg/" style="border-radius:50%; display:inline-block"/><p>username</p>
        <p>Admin</p>
      </div>

<div class="d-flex align-content-center justify-content-center" style="background-color: #FBF8F2; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #DDD5C2;">
    <div class="card my-5 shadow" style="width:500px;">
        <div class="card-body">
            <!--Form for staff to update details-->
            <form method="post" action="~/Home/Login" style="background-color: white;" class='UpdateAccount'>
                <div class="form-group">
                    {{ render_field(form.username, class="form-control") }}
                </div>
                <br />
            </form>
        </div>
    </div>
</div>
