{% extends "base_s.html" %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='Assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Assets/css/createstaff.css') }}">

</head>

<div class="container-fluid h-100">

               <div class="section-title">
                   <h2>Account</h2>
               </div>
<div class="form-style-9">
<form method="POST" action="">
  <div class="form-group">
    {{ render_field(form.name, class="form-control") }}
  </div>
    <div class="form-group">
    {{ render_field(form.email, class="form-control") }}
  </div><br/>
  <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
</div>
</div>

{% endblock %}


