{%extends "base_customer.html" %}
{% block title %} Library Loan System - Contact Us {% endblock %}}

{% from "includes/_formHelper.html" import render_field %}

{% block content %}

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='Assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Assets/css/createstaff.css') }}">
</head>

<div class="container-fluid h-100">

               <div class="section-title">
                   <h2>Contact Us</h2>
               </div>

<h5>Mail us at <a href="mailto:homeden@gmail.com">homeden@gmail.com</a> for further queries !</h5>
<form method="POST" action="">

    <div class="form-group">
        {{ render_field(form.cust_name, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.email, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.feedback, class="form-control") }}
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>

</form>
{% endblock %}

