<!DOCTYPE html>
<html lang="en">
<head>
    <title>HomeDen's Footer</title>
    <link rel="stylesheet" type="text/css" href="../css/footer.css" />
</head>
<body>
    <footer>
        <div class='footerLogo'>
            <!-- footer for user to be able to access different page of the website easily-->
            <div class='socmedPlatforms' id='socmedPlatforms1'>
                <i onmouseover="platform" class="fab fa-instagram"></i><br>
            </div>
            <div class='socmedPlatforms' id='socmedPlatforms2'>
                <i onmouseover="platform" class="fab fa-facebook-f"></i><br>
            </div>
            <div class='socmedPlatforms' id='socmedPlatforms3'>
                <i onmouseover="platform" class="fab fa-twitter"></i><br>
            </div>
        </div>
    </footer>
</body>
</html>
