<!DOCTYPE html>
<html lang="en">
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">HomeDen</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../home.html">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Shop</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="../../products/shopCategories.html">Categories</a></li>
                            <li><a class="dropdown-item" href="../../products/discountedItems.html">Discounted items</a></li>
                            <li><a class="dropdown-item" href="../../products/topSellingItems.html">Top selling items</a></li>
                            <li><a class="dropdown-item" href="../../products/newlyRestockedItems.html">Newly restocked items</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/AboutUs">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../templates/contactUs.html">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ShoppingCart">Shopping Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/CustomerSettings">Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/SuccessReceipt">Receipt</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>
