{% extends "base_nobot.html" %}
{% block title %}
Library Loan System - HomeDen
{% endblock %}


{% block content %}
<style>
div{
text-align: center;
}
</style>
{%for i in to_send[-1:]%}
    <div class="receipt">
        <h1>PAYMENT SUCCESSFUL</h1>
        <p id ="trans_num"> Order ID: {{i.OrderID}}</p>
        <p id = "time">Time: {{i.POSDate}}</p>
        <p id = "total">Total:$ {{i.TotalPrice}}</p>
        <p> Thank you for purchasing with us! We hope to see you again</p>
    </div>
{%endfor%}
{%endblock%}
