{%extends "base.html" %}
{% block title %} Library Loan System - Contact Us {% endblock %}}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="templates/about_us/aboutUs.css"/>
    <style>
        .content{
            text-align: center;
            padding-left: 300px;
            padding-right: 300px;
            padding-bottom: 25px;
            padding-top: 25px
        }

    </style>
</head>

<body>
    <div class="about">
        <h2>About Home-Den Supermarket</h2>
    </div>

    <div class="content">
        <p>Home-Den Supermarket was founded in 2010 by Siew Moi, previously a small mini mart owner with a mission to provide easy access of products for the society and at the same
time build an eco-friendly shopping experience to contribute in saving the earth.</p>
    </div>

    <div class="others">
        <div class="vision">
           <h3>Our Vision</h3>
            <p>Provide society with the best retail experience with the goal to saving the earth.</p>
        </div>

        <div class="corevalues">
             <h3>Our Core Values</h3>
                <ul>
                    <li>Customer's Satisfaction</li>
                    <li>Professionalism</li>
                    <li>Compassion</li>
                </ul>
        </div>
    </div>
{%endblock%}
