{% extends "base.html" %}
{% block title %}Library Loan System - About Us{% endblock %}

{% block content %}
<h1 class="display-4">About ECO-DEN Supermarket</h1>
<p>ECO-DEN Supermarket was founded in 2010 by Siew Moi, previously a small mini mart owner with a mission to provide easy access of products for the society and at the same
time build an eco-friendly shopping experience to contribute in saving the earth.</p>
<h2>Our Vision</h2>
<h4>Provide society with the best retail experience with the goal to saving the earth</h4>
<h2>Our Core Values</h2>
<ul>
    <li>Customer's Satisfaction</li>
    <li>Professionalism</li>
    <li>Compassion</li>
</ul>
{% endblock %}
