{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<div class="d-flex align-content-center justify-content-center" style="background-color: white; font-family:'Raleway', Tahoma, Geneva, Verdana, sans-serif; ">
    <div class="card my-5 shadow" style="width:500px;">
        <h3 class="card-title card-header bg-custom navbar-dark mb-3 text-center" style="background-color: #5cb874; font-family: 'Raleway', Tahoma, Geneva, Verdana, sans-serif; color: floralwhite;  ">
            Forget Password
        </h3>
        <div class="card-body">
            <!--Form for users to create an account-->
            <form method="post" action="" style="background-color: white;" class='emailForm'>
                <div class="form-group">
                    {{ render_field(form.password, class="form-control") }}
                </div>
                <br />
                <input type="submit" value="Reset" class="submitBtn btn-primary"
                       style="text-align:center; border-color: #5cb874; display: inline-block; background-color: #5cb874; color: floralwhite; font-size: small; padding: 10px 20px; border-radius: 4px; justify-content:center;  " />
                <br />
            </form>
            <br />
        </div>
    </div>
</div>
{% from "includes/_footer.html" import render_field %}
{% endblock %}