{%extends "base.html" %}
{% block title %}
Library Loan System - Forget Password
{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<!-- This is to specify the client ID i have created for this website's sign in google API'-->
<meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
<!-- Login page where customers and staff input their email and password -->
<div class="d-flex align-content-center justify-content-center" style="background-color: white; font-family:'Raleway', Tahoma, Geneva, Verdana, sans-serif; ">
    <div class="card my-5 shadow" style="width:500px;">
        <h3 class="card-title card-header bg-custom navbar-dark mb-3 text-center" style="background-color: #5cb874; font-family: 'Raleway', Tahoma, Geneva, Verdana, sans-serif; color: floralwhite;  ">
            Forget Password
        </h3>
        <div class="card-body">
            <!--Form for users to create an account-->
            <form method="post" action="/reset_password" style="background-color: white;" class='emailForm'>
                <div class="form-group">
                    {{ render_field(form.email, class="form-control") }}
                </div>
                <br />
                <input type="submit" value="Send Email" class="submitBtn btn-primary"
                       style="text-align:center; border-color: #5cb874; display: inline-block; background-color: #5cb874; color: floralwhite; font-size: small; padding: 10px 20px; border-radius: 4px; justify-content:center;  " />
                <br />
                <span style="color:red">Email will only be sent if you have an account!</span>
            </form>
            <p style="font-size:12px; text-align:left; display:inline;">
                Not a member? Click <a href="/Signup" style="color: #5cb874;">here</a> to sign up <br /><b style="text-align:center;">or</b><br />
                Have an account? Click <a href="/Login" style="color: #5cb874;">here</a> to log in
            </p>
            <br />
        </div>
    </div>
</div>
{% from "includes/_footer.html" import render_field %}
{% endblock %}