{%extends "base.html" %}
{% block title %}
Library Loan System - Forget Password
{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<h1 class="display-4">Sign Up</h1>
<form method="POST" action="">
    <div action style="background-color: white;" class='signupForm'>
    <div class="form-group">
        {{ render_field(form.email, class="signupForm") }}
    </div>
    <div class="form-group">
        {{ render_field(form.password, class="signupForm") }}
    </div>
    <div class="form-group">
        {{ render_field(form.password, class="signupForm") }}
    </div>
    </div>
</form>