<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
</head>
<body>
	<div>
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
			<ul class=flashes>
			{% for message in messages %}
			  <li>{{ message }}</li>
			{% endfor %}
			</ul>
		  {% endif %}
		{% endwith %}
	</div>

	<div id="shopping-cart">
		<div class="txt-heading">Products</div>
		{% if 'cart_item' in session %}
			<a id="btnEmpty" href="{{ url_for('.empty_cart') }}">Empty Cart</a>
        <h1> Products </h1>
				{% for key, val in session['cart_item'].items() %}
					{% set quantity = session['cart_item'][key]['quantity'] %}
					{% set price = session['cart_item'][key]['price'] %}
					{% set item_price = session['cart_item'][key]['total_price'] %}
                        <div class="cart-item cart-column">
                        <img class="item image" src="/static/images/{{ session['cart_item'][key]['image']" width="50%" height="60%"><br>{{ session['cart_item'][key]['name'] }}
                        <span class="item name">${title}</span><br>
                        </div>
                        <span class="item price">{{ price }}</span><br>
                        <div class="cart-quantity cart-column">
                            <input class="cart-quantity-input" type="number" value="1">
                            <button a href="{{ url_for('.delete_product', code=session['cart_item'][key]['code']) }}" class="btn btn-danger" type="button">REMOVE</button>
                        </div>`

				{% endfor %}
				<div>
					<p>colspan="2" align="right">Total: </p>
					<p> align="right" colspan="2"><strong>₹ {{ session['all_total_price'] }}</strong></p>
				</div>
		{% else: %}
			<div class="no-records">Your Cart is Empty</div>
		{% endif %}
	</div>

</body>
</html>
